<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Register</mat-toolbar>
        <form fxLayoutAlign="strech" fxLayout="column" class="login-form">
            <mat-form-field>
                <mat-label>Fullname</mat-label>
                <input matInput data-FullName placeholder="Gulom Teshayev">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Group</mat-label>
                <input matInput placeholder="313">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="gulyam.t@mail.ru">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput placeholder="+998931234567">
            </mat-form-field>
            <div fxLayout="row">
                <img [src]="imagePath" width="200" height="50">
                <button mat-raised-button color="primary"><img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Antu_amarok_playlist_refresh.svg" width="50" height="50"></button>
            </div>

            <mat-form-field>
                <mat-label>Code</mat-label>
                <input matInput placeholder="G3C70">
            </mat-form-field>
            <button mat-raised-button type="submit">Register</button>
        </form>

    </mat-card>
</div>